.hide {
    display: none;
}

.pull-right {
    float: right !important;
}

.title-table {
    font-weight: bold;
    font-size: 16px;
    color: black;
}

.padding-right {
    padding-right: 10px;
}

.padding-bottom {
    padding-bottom: 5px;
}

.margin-left-table {
    margin-left: 4px;
}