<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<!-- Header -->
<head th:insert="fragments/generico.html :: cabecalho">

<body>
<!-- Navegação -->
<nav th:replace="fragments/generico.html :: menu"></nav>

<div class="container">

    <div class="page-header">
        <h1>Cirurgias</h1>
    </div>

    <form th:action="@{/pesquisar/cirurgia}" th:object="${pesquisa}" method="post">
        <div class="input-group col-sm-5">
            <input type="text" class="form-control" name="campo" placeholder="Pesquise pelo id"
                   th:value="${pesquisa.campo}">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
    </form>
    <br/>

    <th:block th:if="${listaCirurgias != null}">
        <table class="table table-hover">
            <thead>
            <tr>
                <th> Id</th>
                <th> Nome</th>
                <th> Sala</th>
                <th> Data e Hora de inicio</th>
                <th> Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cirurgia: ${listaCirurgias}" class="success">
                <td th:text="${cirurgia.getId}"/>
                <td th:text="${cirurgia.descricao}"/>
                <td th:text="${cirurgia.sala}"/>
                <td th:text="${cirurgia.dataInicio} + ' ' + ${cirurgia.horaInicio}"/>
                <td>
                    <a th:href="@{/editar/cirurgia?id={id} (id=${cirurgia.getId})}" class="btn btn-default" role="button">Editar
                        <span class="glyphicon glyphicon-th-list"></span>
                    </a>
                    <a th:href="@{/validar/cirurgia?id={id} (id=${cirurgia.getId})}" class="btn btn-default"
                       role="button">Validar
                        <span class="glyphicon glyphicon-th-list"></span>
                    </a>
                    <a href="#" class="btn btn-default" role="button">Excluir
                        <span class="glyphicon glyphicon-th-list"></span>
                    </a>
                    <a th:href="@{/relatorio/cirurgia?id={id} (id=${cirurgia.getId})}"
                       target="_blank"
                       class="btn btn-default" role="button">Relatorio
                        <span class="glyphicon glyphicon-th-list"></span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </th:block>
    <th:block th:if="${listaCirurgias == null}">
        <h3>Nenhum resultado encontrado</h3>
    </th:block>

</div>

<footer th:replace="fragments/generico.html :: rodape"></footer>
</body>
</html>