<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<!-- Header -->
<head th:insert="fragments/generico.html :: cabecalho">

<body>
<!-- Navegação -->
<nav th:replace="fragments/generico.html :: menu"></nav>

<div class="container">

    <div class="page-header">
        <h1>Cirurgias</h1>
    </div>

    <form>
        <div class="input-group col-sm-5">
            <input type="text" class="form-control" placeholder="Pesquisar">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
    </form>
    <br/>
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="hide"> Id</th>
            <th> Sala</th>
            <th> Nome</th>
            <th> Data e Hora de inicio</th>
            <th> Data e Hora Estimada de fim</th>
            <th> Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cirurgia: ${listaCirurgias}" class="success">
            <td th:text="${cirurgia.getId}" class="hide"/>
            <td>Sala 01</td>
            <td th:text="${cirurgia.descricao}"/>
            <td>12/06/2021 11:00</td>
            <td>12/06/2021 12:30</td>
            <td>
             <a th:href="@{/editar/cirurgia}" class="btn btn-default" role=button">Editar </a>
                <button class="btn btn-default" data-toggle="modal" data-target="#det1">Detalhes <span class="glyphicon glyphicon-th-list"></span></button>
            </td>
        </tr>
        </tbody>
    </table>

    <form class="modal fade" id="det1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                    <h4 class="modal-title">Detalhes Cirurgia</h4>
                </div>

                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list-group">
                                    <h4>Equipamentos</h4>
                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" id="idDesfibrilador"
                                               value="" aria-label="...">
                                        <label for="idDesfibrilador"> Desfibrilador</label>
                                    </li>
                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox"
                                               id="idIntensificadorDeImagem" value="" aria-label="...">
                                        <label for="idIntensificadorDeImagem"> Intensificador de imagem</label>

                                    </li>
                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" id="idBisturi" value=""
                                               aria-label="...">
                                        <label for="idBisturi"> Bisturi</label>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-group">
                                    <h4>Materiais</h4>
                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" id="idAlgodao" value=""
                                               aria-label="...">
                                        <label for="idAlgodao">Algodão</label>
                                    </li>
                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" id="idAgulha" value=""
                                               aria-label="...">
                                        <label for="idAgulha">Agulha</label>
                                    </li>
                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" id="idTermometro" value=""
                                               aria-label="...">
                                        <label for="idTermometro">Termometro</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Cancelar
                    </button>
                    <button type="button" class="btn btn-primary">
                        Atualizar
                    </button>
                </div>
            </div>
        </div>
    </form>

</div>

<footer th:replace="fragments/generico.html :: rodape"></footer>
</body>
</html>