<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/generico.html :: cabecalho">
<body>
<!-- Navegação -->
<nav th:replace="fragments/generico.html :: menu"></nav>

<div class="container">

    <div class="page-header">
        <h1>Equipamentos</h1>
    </div>

    <div class="input-group mb-3">
        <input type="text" class="form-group" placeholder="Pesquisar" aria-label="Pesquisar"
               aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="search">Pesquisar</button>
    </div>

    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
        <tr>
            <th> ID</th>
            <th> Descrição</th>
            <th> Patrimonio</th>
            <th> Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="equipamento: ${listaEquipamentos}">
            <td th:text="${equipamento.codigo}"/>
            <td th:text="${equipamento.descricao}"/>
            <td th:text="${equipamento.patrimonio}"/>
            <td>
                <button class="btn btn-default">Editar <span class="glyphicon glyphicon-pencil"></span></button>
                <button class="btn btn-danger">Excluir <span class="glyphicon glyphicon-trash"></span></button>
            </td>
        </tr>
        </tbody>
    </table>


</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>