<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/generico.html :: cabecalho">
<body>
<!-- Navegação -->
<nav th:replace="fragments/generico.html :: menu"></nav>

<div class="container">
    <div class="page-header">
        <h1>Inicio</h1>
    </div>
    <div class="page-header">
        <h3>Cadastros</h3>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Cadastro de Cirurgias</h3>
                    <p>Acesse o cadastro de cirurgias.</p>
                    <p><a th:href="@{/cirurgias}" class="btn btn-primary" role="button">Ir ao Cadastro</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Cadastro de Equipamentos</h3>
                    <p>Acesse o cadastro de equipamentos.</p>
                    <p><a th:href="@{/equipamentos}" class="btn btn-primary" role="button">Ir ao Cadastro</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Cadastro de Materiais</h3>
                    <p>Acesse o cadastro de materiais.</p>
                    <p><a th:href="@{/materiais}" class="btn btn-primary" role="button">Ir ao Cadastro</a></p>
                </div>
            </div>
        </div>
    </div>

    </div>
</div>

</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>