<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<!-- Header -->
<head th:insert="fragments/generico.html :: cabecalho">

<body>
<!-- Navegação -->
<nav th:replace="fragments/generico.html :: menu"></nav>

<div class="container">
    <div class="page-header">
        <h1>Nova Cirurgia</h1>
    </div>
    <div class="container" id="dados_cirurgia">
        <form>
            <h4 class="text-center">Cirurgia</h4>
            <div class="row">
                <div class="col-md-2 mb-2 hide">
                    <input class="form-control" type="text" placeholder="ID 003" readonly>
                </div>
                <div class="form-group col-md-2 mb-2">
                    <select class="form-control col-md-6 mb-3" id="sala">
                        <option>Sala 1</option>
                        <option>Sala 2</option>
                        <option>Sala 3</option>
                        <option>Sala 4</option>
                        <option>Sala 5</option>
                    </select>
                </div>
                <div class="input-group col-md-6 mb-6">
                    <input type="text" class="form-control" placeholder="Nome da Cirurgia">
                </div>
            </div>
            <br/>
            <div class="row">
                    <div class="form-group col-md-3 mb-3">
                        <label>Inicio</label>
                        <input type="datetime-local" class="form-control">
                    </div>
                    <div class="form-group col-md-3 mb-3 ">
                        <label>Previsão de Finalização</label>
                        <input type="datetime-local" class="form-control">
                    </div>
            </div>
        </form>
    </div>
    <br/>
    <div class="container" id="equipamento">
        <form>
            <h4 class="text-center">Equipamentos</h4>
            <div class="row">
                <div class="form-group col-md-4 mb-4">
                    <input type="text" class="form-control" placeholder="Equipamento">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4 mb-4">
                    <input type="text" class="form-control" placeholder="Equipamento">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4 mb-4">
                    <input type="text" class="form-control" placeholder="Equipamento">
                </div>
            </div>
            <div class="row form-group col-md-4 mb-4">
                <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Adicionar Equipamento</button>
            </div>
        </form>
    </div>
    <div class="container" id="materiais">
        <form>
            <h4 class="text-center">Materiais</h4>
            <div class="row">
                <div class="form-group col-md-4 mb-4">
                    <input type="text" class="form-control" placeholder="Material">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4 mb-4">
                    <input type="text" class="form-control" placeholder="Material">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4 mb-4">
                    <input type="text" class="form-control" placeholder="Material">
                </div>
            </div>
            <div class="row form-group col-md-4 mb-4">
                <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Adicionar Material</button>
            </div>
            <div class="row form-group col-md-4 mb-4">
                <div>
                    <button href="" type="button" class="btn btn-danger"></span> Voltar </button>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#salvar"></span> Adicionar </button>
                </div>
            </div>
        </form>
        <form class="modal fade" id="salvar">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Salvo com sucesso</h4>
                    </div>
                    <div class="modal-body">
                        <h5>Seu registro foi salvo com sucesso</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">
                            Fechar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
<footer th:replace="fragments/generico.html :: rodape"></footer>
</body>
</html>